<div class="panel panel-info pto-log" ng-repeat="ptoRequestForm in ptoRequestForms">
    <div class="panel-heading" ng-if="ptoRequestForm.IsApproved">
        <p class="margin-0"><span>{{ptoRequestForm.User.FirstName}} {{ptoRequestForm.User.LastName}}</span> - <span>{{ptoRequestForm.PTOType}} - Approved</span></p>
</div>
    <div class="panel-heading" ng-if="!ptoRequestForm.IsApproved">
        <p class="margin-0"><span>{{ptoRequestForm.User.FirstName}} {{ptoRequestForm.User.LastName}}</span> - <span>{{ptoRequestForm.PTOType}} - Not Approved</span></p>
    </div>
    <div class="panel-body">
        <p class="margin-0"><span ng-bind="ptoRequestForm.RequestedPTODate | date:'MM/dd/yyyy'"></span> - <span>{{ptoRequestForm.Notes}}</span></p>
    </div>
    <hr class="margin-0" />
    <div class="panel-body">
        <p class="margin-0">Submitted <span ng-bind="ptoRequestForm.TimeStamp | date:'MM/dd/yyyy h:mm a'"></span></p>
        <button ng-model="ptoRequestForm.Id" ng-click="approvePTOFormByPTOFormId(ptoRequestForm.Id)">Approve</button>
    </div>
</div>