<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header navbar-brand">
        <a ng-click="showHome()" class="pointer">Sales Productivity Tracker - Manager View</a>
    </div>
    <ul class="nav nav-pills">
        <li><a ng-click="logout()" class="pointer">Logout</a></li>
        <!--<li><a ng-click="showProductivityForm()" class="pointer">Enter Productivity</a></li>
        <li><a ng-click="showPTORequestForm()" class="pointer">Request PTO</a></li>-->
    </ul>
</div>