<div class="panel panel-info productivity-log" ng-repeat="productivityForm in productivityForms">
    <div class="panel-heading">
        <p class="margin-0"><!--<span>{{productivityForm.BookedDailyRevenue}}</span> ---> <span ng-bind="productivityForm.ProductivityDate | date:'MM/dd/yyyy'"></span> - <span>{{productivityForm.BookedDailyRevenue}}</span></p>
    </div>
    <div class="panel-body">
        <p class="margin-0"><span ng-bind="productivityForm.DailyCasesCompleted"></span> case(s) completed</p>
        <p class="margin-0"><span ng-bind="productivityForm.DailyCallCount"></span> call(s) made</p>
        <p class="margin-0"><span ng-bind="productivityForm.DailyEmailCount"></span> email(s) sent</p>
    </div>
    <hr class="margin-0" />
    <div class="panel-body">
        <p class="margin-0">Submitted <span ng-bind="productivityForm.TimeStamp | date:'MM/dd/yyyy h:mm a'"></span></p>
    </div>
</div>