<div class="panel panel-info pto-log" ng-repeat="ptoRequestForm in ptoRequestForms">
    <div class="panel-heading" ng-if="ptoRequestForm.IsApproved">
        {{ptoRequestForm.PTOType}} - Approved
    </div>
    <div class="panel-heading" ng-if="!ptoRequestForm.IsApproved">
        {{ptoRequestForm.PTOType}} - Not Approved
    </div>
    <div class="panel-body">
        <p><span ng-bind="ptoRequestForm.RequestedPTODate | date:'MM/dd/yyyy'"></span> - <span>{{ptoRequestForm.Notes}}</span></p>
    </div>
    <hr />
    <div class="panel-body">
        <p>Submitted <span ng-bind="ptoRequestForm.TimeStamp | date:'MM/dd/yyyy h:mm a'"></span></p>
    </div>
</div>