<div class="employee-home-container">

    <!--<div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2 class="text-align-center">Employee Portal</h2>
        </div>
    </div>-->

    <ul class="nav nav-tabs">
        <li role="presentation" ng-click="showProductivityLog()" class="pointer"><a>Submitted Productivity</a></li>
        <li role="presentation" ng-click="showPTOLog()" class="pointer"><a>Submitted PTO</a></li>
    </ul>

    <div ng-show="productivityLog">
        <h2 class="text-align-center">Submitted Productivity</h2>
        <!--<div class="panel panel-primary" ng-repeat="">
            <div class="panel-body">
                Panel content
            </div>
            <div class="panel-footer">Panel footer</div>
        </div>-->
    </div>

    <pto-log data="ptoRequestForms" ng-show="ptoLog"></pto-log>

</div>