<employee-navbar></employee-navbar>

<div class="employee-home-container" ng-controller="employeeHomeController">

    <ul class="nav nav-tabs">
        <li role="presentation" ng-click="showProductivityLog()" class="submitted-productivity-tab pointer"><a>Submitted Productivity</a></li>
        <li role="presentation" ng-click="showPTOLog()" class="submitted-pto-tab pointer"><a>Submitted PTO</a></li>
    </ul>

    <productivity-log data="productivityForms" ng-show="productivityLog"></productivity-log>

    <pto-log data="ptoRequestForms" ng-show="ptoLog"></pto-log>

</div>