<manager-navbar></manager-navbar>

<div class="manager-home-container"  ng-controller="managerHomeController">

    <ul class="nav nav-tabs tabs">
        <li role="presentation" ng-click="showEmployeeProductivity()" class="employee-productivity-tab pointer"><a>Employee Productivity</a></li>
        <li role="presentation" ng-click="showEmployeePTO()" class="employee-pto-tab pointer"><a>Employee PTO</a></li>
    </ul>

    <manager-productivity-by-employee data="productivityForms" ng-show="employeeProductivity"></manager-productivity-by-employee>

    <manager-pto-by-employee data="ptoRequestForms" ng-show="employeePTO"></manager-pto-by-employee>

</div>