<div class="pto-request-form-container">

    <form name="pto-request-form" ng-submit="submitPTORequestForm(ptoRequestForm)">

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2 class="text-align-center">PTO Request Form</h2>
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-align-center">
                <label>
                    <input type="radio" ng-model="ptoRequestForm.ptoType" value="vacation">
                    Vacation
                </label>
                <label>
                    <input type="radio" ng-model="ptoRequestForm.ptoType" value="personal">
                    Personal
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <input required type="text" class="form-control margin-0-auto" id="requestedPTODate" onfocus="(this.type='date')" onfocusout="(this.type='text')" placeholder="Enter desired PTO date" ng-model="ptoRequestForm.requestedPTODate" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <textarea required class="form-control margin-0-auto" id="notes" placeholder="Enter notes" ng-model="ptoRequestForm.notes"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-align-center">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>

    </form>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-align-center">
            <button class="btn btn-default" ng-click="getAllPTOForms()">getAllPTOForms</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-align-center">
            <button class="btn btn-default" ng-click="getPTOFormsByEmployeeId()">getPTOFormsByEmployeeId</button>
        </div>
    </div>

</div>